html
{
    width: 100%;
    height: 100%;
}

body
{
    margin:0px;
    width: 100%;
    height: 100%;
}

header
{
    background: rgb(222, 242, 255);
    width: 100%;
    height: 70px;
}

#logo
{
    height: 70px;
    opacity: 1;
    width:10%;
    float: left;
}

#search
{
    width: 70%;
    height: 60px;
    font-size: 40px;
    border-radius: 20px;
    padding: 0;
    min-width: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.headerbutton
{
    background-color: lightblue;
    height: 70px;
    vertical-align: middle;
    text-decoration: wavy;
    text-align: center;
    margin-bottom: 25px;
    margin-right: -13px;
    border: 0;
    width:9%;

}

.packs
{
    display:inline-block;
    background: white;
    text-align: center;
}

#categories
{
    width: 20%;
    background: lightgray;
    margin-right: -4px;
    height: 100%;
    float: left;
}

.category
{
    padding: 10px 0;
    margin: 10px;
    background-color: lightseagreen;
}


#main_div
{
    height: calc(100% - 70px);
}

#main
{
    display:inline-block;
    background: white;
    text-align: center;
    border: 3px;
    border-color: red;
    width: 60%;
    height: 100%;
    padding-bottom: 200;
    float: left;


}

.main_header
{
    display: inline-block;
    border: 3px;
    border-color: seagreen;
    margin-right: 0px;
    margin-left: 0px;
    background: lightblue;
    height: 50px;
    float: left;
}

#recomended
{
    width: 20%;
    border: 3px;
    border-color: royalblue;
}

#top
{
    width: 20%;
}

#placeholder
{
    width: 40%;
}

#sortby
{
    width:20%;
}

#adds
{
    display:inline-block;
    text-align: center;
    background: lightgray;
    width: 20%;
    height: 100%;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}
